<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    <h1>Hello Word</h1>
	<p>
		Esse site é do Felipe e do Gustavo
	</p>
	<%="Hello Word"%>
</body>
</html